@{
  Layout = "_Layout";
}

<div id="push-page-content-up"></div>

@model Factory.Models.Machine;

<div class="container" id="main">
  <h1>Assign an Engineer to this Machine</h1>

  <p><em>"Hey Boss, would you like to put someone on this Machine? We have some new hires that might be good here."</em>
  </p>

  <h4>Put a Zeta-Brute on: @Html.DisplayFor(model => model.Hardware)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Assign this Engineer?: ")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Add 'em?" />
  }

  <h3>@Html.ActionLink("Current Machine List", "Index")</h3>
</div>